---
title: "Home Page"
layout: splash
date: 2020-04-13T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/Sinogram.jpg
  actions:
    - label: "Learn about what a sinogram is"
      url: "/sinogram/"

excerpt: ""
intro: 
  - excerpt: 'Welcome to my personal site which will act as a home base for a static list of projects that I have worked on, some information articles, and my ramblings in general.'
feature_row:
  - image_path: /assets/images/Projects/Art/Venus_deMilo.png
    image_caption: "My marble carving inspired by the Venus de Milo"
    alt: "placeholder image 1"
    title: "Venus de Milo"
    excerpt: "My marble carving inspired by the Venus de Milo."
    url: "/Art"
    btn_label: "Art Projects"
    btn_class: "btn--primary"
  - image_path: /assets/images/Projects/Engineering/MPI/SBI/SBI_V1.png
    alt: "Research Projects"
    title: "MPI Small-bore imager"
    excerpt: "A rendering of the [small-bore magnetic particle imager.](https://os-mpi.github.io/MIT-MGH_SmallBore/) "
    url: "/AcademicProjects/"
    btn_label: "Research Projects"
    btn_class: "btn--primary"
  - image_path: /assets/images/Projects/Art/Venus_deMilo.png
    title: "Placeholder 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/HobbyProjects/"
    btn_label: "Hobby Projects"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
